{% extends "base.html" %}
{% load common %}
{% load i18n %}
{% load static %}
{% block body %}

    <div id="header-menu-div">
        <div id="header-menu">
        <p class="title">Track my bank!</p>
        <div class="left">
            <a href="/admin/" class="admin"></a>
            <a href="/logout/" class="logout"></a>
        </div>
        </div>
    </div>

    <div id="add-transaction-div-div">
        <div id="add-transaction-div">
            <h2>{% trans "Add a new transaction" %}</h2>
            <form action="/add/" method="post" id="add-transaction">
            <div class="item">
                <label for="date_t">{% trans "Date" %}</label>
                <div class="input-group input-with-icon-group">
                    <div class="input-group-addon calendar">
                    </div>
                    <input id="date_t" class="datemask datepicker" required autocomplete="off"/>
                </div>
            </div>
            <div class="item">
                <label for="date_b">{% trans "Bank added date" %}</label>
                <div class="input-group input-with-icon-group">
                    <div class="input-group-addon calendar">
                    </div>
                    <input id="date_b" class="datemask datepicker" required autocomplete="off"/>
                </div>
            </div>
            <div class="item">
                <label for="amount">{% trans "Amount" %}</label>
                <div>
                    <input class="money decimal" id="amount" /> <span class="euro">€</span>
                </div>
            </div>
            <div class="item">
                <label for="subject">{% trans "Subject" %}</label>
                <div>
                    <textarea id="subject" rows="2"></textarea>
                </div>
            </div>
            <div class="item">
                <label for="category">{% trans "Category" %}</label>
                <div>
                    <select id="category" class="select2">
                    <option></option>
                        {% for category in view.data.categories %}
                            <option value="{{ category.pk }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <input type="button" class="submit-form" type="submit" value="{% trans "Add" %}"/>
            </form>
        </div>
    </div>
    <div class="main-content">
        <table class="table thead-dark" id="list-tr">
            <thead>
                <tr>
                    <th class="category">
                        {% trans "Category" %}
                    </th>
                    <th class="amount">
                        {% trans "Amount" %}
                    </th>
                    <th class="subject">
                        {% trans "Subject" %}
                    </th>
                    <th class="date">
                        {% trans "Date" %}
                    </th>
                    <th class="bank_date">
                        {% trans "Bank date" %}
                    </th>
                </tr>
            </thead>
            <tbody>
            {% set odd = True %}
            {% for transaction in view.data.transactions %}
                {% if odd %}
                    {% set class = "odd" %}
                    {% set odd = False %}
                {% else %}
                    {% set class = "even" %}
                    {% set odd = True %}
                {% endif %}

                <tr id="t_{{ transaction.pk }}" class="{{ class }}">
                    <td style="background-color: {{ transaction.category.color }}" class="category">
                        {{ transaction.category.name }}
                    </td>
                    <td class="amount">
                        {{ transaction.amount }} €
                    </td>
                    <td class="subject">
                        {{ transaction.subject }}
                    </td>
                    <td class="date_t">
                        {{ transaction.date_t }}
                    </td>
                    <td class="date_b">
                        {{ transaction.date_bank }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}