{% load common %}
{% load i18n %}
{% load l10n %}
{% load static %}

        <div class="header-main">
            <p>Salary</p>
        </div>
        <table class="table thead-dark" id="list-tr">
            <thead>
                <tr>
                    <th class="category">
                        {% trans "Category" %}
                    </th>
                    <th class="amount">
                        {% trans "Amount" %}
                    </th>
                    <th class="subject">
                        {% trans "Subject" %}
                    </th>
                    <th class="date">
                        {% trans "Date" %}
                    </th>
                    <th class="bank_date">
                        {% trans "Bank date" %}
                    </th>
                </tr>
            </thead>
            <tbody>
            {% set odd = True %}
            {% for group in view.data.transactions %}
                {% if odd %}
                    {% set class = "odd" %}
                    {% set odd = False %}
                {% else %}
                    {% set class = "even" %}
                    {% set odd = True %}
                {% endif %}

                {% for transaction in group.transaction_set.all %}
                    <tr id="t_{{ transaction.pk }}" class="{{ class }}">
                        <td style="background-color: {{ transaction.category.color }}" class="category">
                            {{ transaction.category.name }}
                        </td>
                        <td class="amount">
                            {% localize on %}
                            {{ transaction.amount }} €
                            {% endlocalize %}
                        </td>
                        <td class="subject">
                            {{ transaction.subject }}
                        </td>
                        {% if forloop.first %}
                            <td class="date_t">
                                {{ group.date_t }}
                            </td>
                            <td class="date_b">
                                {{ group.date_bank }}
                            </td>
                        {% elif forloop.last %}
                            <td class="total" colspan="2">
                                {% localize on %}
                                    <span class="total-label">{% trans "Total:" %}</span> {{ group.total }} €
                                {% endlocalize %}
                            </td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>