{% load common %}
{% load i18n %}
{% load l10n %}
{% load static %}

        <div class="main-left">
            <div class="header-main">
                {% localize on %}
                <div class="top-info salary">
                    <span class="info-label">{% trans "Salary" %}</span><span class="info-value">{{ view.data.current_month.salary }} €</span>
                </div>
                <div class="top-info bank">
                    <span class="info-label">{% trans "Bank" %}</span><span class="info-value">{{ view.data.bank_status }} €</span>
                </div>
                <div class="top-info economy">
                    <span class="info-label">{% trans "Free money" %}</span><span class="info-value">{{ view.data.free_money }} €</span>
                </div>
                <div class="top-info goodies-part">
                    <span class="info-label">{% trans "Goodies" %}</span><span class="info-value">{{ view.data.goodies_part }} €</span>
                </div>
                {% endlocalize %}
                <div class="top-form on-select" style="display: none;">
                    <div class="sub-item bank-date">
                        <label for="date_b_change">{% trans "Set bank date:" %}</label>
                        <div class="input-value input-group input-with-icon-group">
                            <div class="input-group-addon calendar">
                            </div>
                            <input id="date_b_change" class="datemask datepicker" autocomplete="off"/></div>
                    </div>
                </div>
                <div class="top-form submit on-select" id="submit-change-bank_date" style="display: none;">

                </div>
                <div class="top-form delete on-select" id="delete-transactions" title="{% trans "Delete selected transactions" %}" style="display: none;">

                </div>
            </div>
            <div class="table-header">
                <div class="category column">
                    {% trans "Category" %}
                </div>
                <div class="amount column">
                    {% trans "Amount" %}
                </div>
                <div class="subject column">
                    {% trans "Subject" %}
                </div>
                <div class="date_t column">
                    {% trans "Date" %}
                </div>
                <div class="date_b column">
                    {% trans "Bank date" %}
                </div>
            </div>
            <div class="table-wrapper-scroll-y">
                <table class="table thead-dark" id="list-tr">
                    <tbody>
                    {% set odd = True %}
                    {% for group in view.data.transactions %}
                        {% if odd %}
                            {% set class = "odd" %}
                            {% set odd = False %}
                        {% else %}
                            {% set class = "even" %}
                            {% set odd = True %}
                        {% endif %}

                        {% for transaction in group.transaction_set.all %}
                            <tr data-weekly-filters="{% if group.ignore_week_filters %}0{% else %}1{% endif %}" nb="{{ forloop.parentloop.counter }}{{ forloop.counter }}" id="t_{{ transaction.pk }}" group="{{ group.pk }}" class="{{ class }}">
                                <td style="background-color: {{ transaction.category.color }}" class="category" value="{{ transaction.category.pk }}" name="{{ transaction.category.name }}">
                                    {{ transaction.category.name }}
                                </td>
                                {% localize on %}
                                <td class="amount {% if transaction.amount < 0 %}amount-debit{% endif %} {% if group.date_bank %}banked{% endif %}" value="{{ transaction.amount }}">
                                    {{ transaction.amount }} €
                                </td>
                                {% endlocalize %}
                                <td class="subject {% if group.date_bank %}banked{% endif %}" value="{{ transaction.subject }}">
                                    {{ transaction.subject }}
                                </td>
                                {% if forloop.first %}
                                    <td class="date_t {% if group.date_bank %}banked{% endif %}" value="{{ group.date_t }}">
                                        {{ group.date_t }}
                                    </td>
                                    <td class="date_b {% if group.date_bank %}banked{% endif %}" value="{{ group.date_bank|default_if_none:"" }}">
                                        {{ group.date_bank|default_if_none:"" }}
                                    </td>
                                {% elif forloop.last %}
                                    <td class="total {% if group.date_bank %}banked{% endif %}" colspan="2" value="{{ group.date_t }},{{ group.date_bank }}">
                                        {% localize on %}
                                            <span class="total-label">{% trans "Total:" %}</span> {{ group.total }} €
                                        {% endlocalize %}
                                    </td>
                                {% else %}
                                    <td class="date_t {% if group.date_bank %}banked{% endif %}" value="{{ group.date_t }}"></td>
                                    <td class="date_b {% if group.date_bank %}banked{% endif %}" value="{{ group.date_bank }}"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="main-right">
            <div id="filters"></div>
            <div class="graphs">
                <h1 class="title-chart">{% trans "Transactions by category" %}</h1>
                <div id="pie-chart-category">{{ view.data.fig_pie_categories | safe }}</div>
                <h1 class="title-chart">{% trans "Transactions by ranges of amount" %}</h1>
                <div id="pie-chart-range">{{ view.data.fig_pie_tranches | safe }}</div>
                <h1 class="title-chart">{% trans "Spending per week" %}</h1>
                <div id="hist-spending-week">{{ view.data.fig_hist_week_spending | safe }}</div>
            </div>
        </div>