@font-face {
    font-family: signatra;
    src: url(/static/fonts/Signatra.otf);
}

html, body {
    margin: 0;
    padding: 0;
    background: #d4d4d4;
    height: 100%;
}

#header-menu-div {
    position: fixed;
    width: 100%;
    top: 0;
}

#header-menu {
    position: relative;
    margin-top: 0;
    height: 50px;
    line-height: 50px;
    background: #0e003e url(/static/images/trackmybank-logo.svg) no-repeat 30px 5px;
    background-size: 40px 40px;
    color: white;
}

#header-menu p.title {
    margin-top: 0;
    font-family: signatra;
    font-size: 22pt;
    padding-left: 100px;
}

#header-menu .center {
    position: absolute;
    left: 250px;
    top: 1px;
}

#header-menu .left {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    background: black;
    padding-bottom: 0;
    height: 50px !important;
}

#header-menu .left a {
    display: inline-block;
    width: 40px;
    height: 50px;
}

#header-menu .left a.admin {
    background: black url(/static/images/admin.svg) no-repeat 0 10px;
    background-size: 30px 30px;
    margin-right: 15px;
}

#header-menu .left a.logout {
    background: black url(/static/images/logout.svg) no-repeat 0 10px;
    background-size: 30px 30px;
}

.relative {
    position: relative;
}

h2 {
    font-size: 14pt;
    margin-top: 0;
}

div#add-transaction-div-div {
    width: 250px;
    min-height: calc(100% - 51px);
    background-color: #607270;
    position: fixed;
    top: 50px;
}

div#add-transaction-div {
    padding-top: 10px;
    margin-left: 10px;
}

div#add-transaction-div label, div#add-transaction-div h2, div#add-transaction-div span.euro {
    color: white;
}

div#add-transaction-div span.euro {
    display: inline-block;
    vertical-align: bottom;
    height: 22px;
}

div.main-content {
    margin-top: 60px;
    margin-left: 250px;
}

form#add-transaction {
    margin-left: 5px;
}

div.calendar {
    background: #b0b0b0 url(/static/images/calendar.svg) no-repeat 1.5px 1px;
    background-size: 21px 21px;
}

div.item {
    margin-bottom: 10px;
}

input, textarea, select {
    width: 220px;
}

input[type=checkbox] {
    width: auto;
}

.toggle, .toggle.btn {
    height: 30px !important;
    min-height: 30px !important;
    width: 30px !important;
    margin-right: 15px;
}

label.toggle-off {
    color: black !important;
}

div.link-to-selected {
    margin-top: 25px;
}

select {
    height: 30px;
}

textarea {
    resize: none;
}

input.datepicker {
    width: 195px;
}

input.money {
    width: 207px;
}

input:focus {
    border-radius: 0;
}

select option:first-child {
    display: none;
}

select option {
    height: 35px;
    line-height: 35px;
    display: block;
}

input.submit-form, input.cancel-edit {
    margin-top: 20px;
    width: 100px;
    border-radius: 10px;
    margin-left: 55px;
}

input.cancel-edit {
    margin-top: 10px;
}

div.loading {
    display: inline-block !important;
    height: 50px !important;
}

/* Loading */

div.loading {
    display: none;
    margin-top: -30px !important;
    margin-left: 10px;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 45px;
  }
  50%, 100% {
    top: 12px;
    height: 26px;
  }
}

/* Table: */

th.category {
    width: 130px;
}

th.amount {
    width: 100px;
}

th.date {
    width: 100px;
}

th.bank_date {
    width: 100px;
}

tr.odd {
    background-color: #fff;
}

tr.even {
    background-color: #cacaca;
}

table.thead-dark thead tr {
    background-color: #000;
    color: #fff;
}

tbody tr.selected td, tbody tr.edited td {
    background-color: #2aabd2 !important;
}

label.error {
    color: #ff524f !important;
}

label.error::after {
    content: " *";
}

div#add-month {
    background: url("/static/images/add.svg") no-repeat 0 0;
    background-size: 100% 100%;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 12px;
    vertical-align: bottom;
    cursor: pointer;
}

div#add-month:hover {
    background-image: url("/static/images/add_hover.svg");
}

div#add-month:active {
    background-image: url("/static/images/add_click.svg");
}

input[type=button] {
    outline: none;
}

td {
    border-top: none !important;
}

span.total-label {
    margin-right: 5px;
}

td.total {
    font-weight: bold;
    text-decoration: underline;
}

div.top-info {
    height: 35px;
    line-height: 35px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}

div.top-info .info-label {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    color: white;
}

div.top-info .info-value {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
}

div.top-info.economy .info-label {
    background-color: #0c5413;
}

div.top-info.economy .info-value {
    background-color: #bdffbc;
}

div.top-info.goodies-part .info-label {
    background-color: #540805;
}

div.top-info.goodies-part .info-value {
    background-color: #ffddd7;
}

div.top-info.bank .info-label {
    background-color: #03094b;
}

div.top-info.bank .info-value {
    background-color: #dce8ff;
}

.amount-debit {
    color: red;
}

.banked {
    font-weight: bold;
}

#add-month-form {
    position: fixed;
    top: 50px;
    left: 320px;
    width: 345px;
    background-color: white;
    padding: 10px;
    /*border-bottom: black solid 1px;*/
    /*border-left: black solid 1px;*/
    /*border-right: black solid 1px;*/
    box-shadow: 2px 2px 10px #000;
}

#add-month-form label {
    display: block;
}

#add-month-form div.form-item {
    display: inline-block;
    margin-left: 10px;
}

#add-month-form select {
    width: 100px;
}

#add-month-form .year-input {
    width: 70px;
    height: 25px;
}

.valid-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("/static/images/valid.svg") 0 0;
    background-size: 25px 25px;
    vertical-align: middle;
    cursor: pointer;
}

.valid-button:hover {
    background-image: url("/static/images/valid-hover.svg");
}

.valid-button:active {
    background-image: url("/static/images/valid-active.svg");
}
